<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Удаление конкретного животного.</title>
</head>
<body>
<h3>Конкретное животное из DB</h3>
<hr>
<br>

<!-- не знаю как заставить работать метод DELETE -->


    <table border="1">
        <tr>
            <td>id</td>
            <td th:text="${thisAnimal.id}"></td>
        </tr>
        <tr>
            <td>Kind</td>
            <td th:text="${thisAnimal.kind}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${thisAnimal.name}"></td>
        </tr>
        <tr>
            <td>age</td>
            <td th:text="${thisAnimal.age}"></td>
        </tr>
        <tr>
            <td>Owner</td>
            <td th:text="${thisAnimal.ownerId}"></td>
        </tr>
    </table>
    <br>
<form th:method="DELETE" th:action="@{/action/ThisAnimalMethodDelete/{id}(id=${thisAnimal.getId()})}" th:object="${thisAnimal}">
    <p><input type="submit" value="DELETE"/></p>
</form>
<br>
<hr>
<br>
<a href="/">Меню</a>
</body>
</body>
</html>